<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Saved Articles</a>
            </li>
        </ul>
        <form class="form-inline">
            <button id="scraperButton" class="btn btn-outline-danger" type="button">Scrape New Articles</button>
        </form>
</nav>

<div class="container">
    <div class="row">
        <div id="header" class="col-md-12">
            <h1>Mongo Scraper - NY Times Headlines</h1>
        </div>
    </div>

    {{!-- {{#each}} --}}

    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="http://worldartsme.com/images/newspaper-wallpaper-clipart-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a id="noteButton" href="#" class="btn btn-dark justify-content-end">Add Notes</a>
                    <a id="saveButton" href="#" class="btn btn-danger justify-content-end">Save Article</a>
                </div>
            </div>
        </div>
    </div>

    {{!-- {{/each}} --}}



































</div>